<!DOCTYPE html>
<html>
<head>
    <title>Banking App</title>
</head>
<body>
    <h1>Banking App</h1>
    <ul>
        <li><a href="/create_account">Create Account</a></li>
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdraw">Withdraw</a></li>
        <li><a href="/transfer">Transfer</a></li>
        <li><a href="/lend">Lend</a></li>
        <li><a href="/get_balance">Get Balance</a></li>
        <li><a href="/print_transactions">Print Transactions</a></li>
        <li><a href="/exit">Exit</a></li>
    </ul>
</body>
</html>
